* {
    box-sizing: border-box;
}

/* -- controls ------ */

.skills-container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    width: 90vw;

    margin: 1rem auto;

}

.skill-button {
    
    margin: .5rem;
    padding: .25em .5em;

    border: 1px solid #333;
    border-radius: 1em;

    font-size: 1.1rem;

    background-color: ghostwhite;
}