* {
    box-sizing: border-box;
}

/* -- controls ------ */

.skills-container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    width: 90vw;

    margin: 1rem auto;

}

.skill-button {
    
    margin: .5rem;
    padding: .25em .5em;

    border: 1px solid #333;
    border-radius: 1em;

    font-size: 1.1rem;

    background-color: ghostwhite;

    transition: all .2s;
}

.skill-button.active {

    border-color: crimson;
    background-color: lightpink;
    box-shadow: 0px 0px 0px 2px crimson;

}

/* -- vis ---- */

.vis-container {

    border: 4px dotted #333;

}

.vis {

    background-color: whitesmoke;
    width: 100%;
    height: 400px;

}

.data-point {

    opacity: .5;

}

.data-point.animate,
.axis path.domain {

    transition: transform .5s;
}

.axis {

    transition: opacity .5s;

}

.axis.hidden,
.axis.no-line path.domain,
.axis.no-line .tick line {

    opacity: 0;

}

.pc-axis {
    transition: opacity .1s, transform .5s;
    stroke: crimson;
    stroke-width: 2px;
}

.pc-axis.pc-axis-hidden {
    opacity: 0;
    transform: rotate(90deg);
    transition: opacity .5s, transform .5s;
}
