* {
    box-sizing: border-box;
}

:root {

    --margin : 30px;
    --margin-vertical : 50px;
    font-family: 'Rubik';
    --bkg-color: #FFFDE7; /* #121212*/
    --txt-color: #263238;
    --btn-selected: #FBC02D;
    --btn-border-light: #FDD835;
    --btn-border: #F57F17;
    --btn-bkg: #FFF9C4;
    --accent1: #2D07A8;
    --accent2: #C7F52F;
    --points: #5D2FF5;
    --comp: #C7F52F;
    background-color: var(--bkg-color);
    color: var(--txt-color);

}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    margin-top: 1.5rem;
}

p.note {
    font-weight: 300;
    margin-top: -.5rem;
    text-align: center;
}

/* -- controls ------ */

.skills-container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 600px;
    width: 90vw;

    margin: 1rem auto;

}

.skill-button {
    
    margin: .5rem;
    padding: .25em .5em;

    border: 1px solid var(--btn-bkg);
    border-radius: 1em;

    font-size: .9rem;

    background-color: var(--btn-bkg);
    box-shadow: 0px 0px 0px 2px var(--btn-bkg);

    transition: all .2s;
}

.skill-button:hover {

    border-color: var(--btn-border);

}

.skill-button.active {

    border-color: var(--btn-border);
    background-color: var(--btn-border);
    box-shadow: 0px 0px 0px 2px var(--btn-border);
    color: var(--bkg-color);

}
/* -- controls - radio -- */

.control-type {

    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 300;
    font-size: .9rem;

}

/* -- vis ---- */

.vis-container {

    /*border: 4px dotted #333;*/
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

.vis-axis-label {

    position: absolute;
    transition: .5s;
    margin: 0;
    min-width: max-content;
    font-weight: 300;

}

.vis-axis-label-x {

    bottom: 0;
    text-align: right;
    height: var(--margin-vertical);
    padding-top: 1em;
    transform: translateX(-100%);

}

.vis-axis-label-y {

    top: var(--margin-vertical);
    left: var(--margin);
    text-align: left;
    padding-top: .5em;
    transform: translateY(-100%);
    height: var(--margin-vertical);

}

.vis {

    background-color: var(--bkg-color);
    width: 100%;
    height: 400px;

}

.vis text {
    font-family: Rubik;
    font-size: .8rem;
}

.data-point {

    opacity: .5;
    stroke: var(--points);
    fill: var(--points);

}

.data-point.initial {

    transform: translate(200px, -50px);

}

svg:has(.data-point:hover) .data-point {
    opacity: .1;
}

svg:has(.data-point:hover) .data-point:hover {

    opacity: 1;
    stroke-width: 2px;
    stroke: var(--accent1);
}

.data-point.animate,
.axis path.domain {

    transition: transform .5s;
}

.axis {

    transition: opacity .5s;

}

.axis line,
.axis path {
    stroke: var(--btn-border);
}

.axis.hidden,
.axis.no-line path.domain,
.axis.no-line .tick line,
.vis-axis-label-hidden {

    opacity: 0;

}

.pc-axis {
    transition: opacity .1s, transform .5s;
    stroke: var(--btn-border);
    stroke-width: 3px;
}

.pc-axis.pc-axis-hidden {
    opacity: 0;
    transform: rotate(90deg);
    transition: opacity .5s, transform .5s;
}

/* ---- TOOLTIPS --- */

.vis-tooltip {

    position: absolute;
    opacity: 1;
    background-color: var(--btn-bkg);

    border: 2px solid var(--txt-color);

    padding: 1em;
    width: 400px;

    max-height: 50vh;

    z-index: 3;

    pointer-events: initial;

    overflow-y: scroll;

    box-shadow: 3px 3px var(--txt-color);

}

.vis-tooltip.hidden {
    opacity: 0;
    pointer-events: none;
}

.tt-text {

    margin: 0;

}

[data-tt-field="alias"] {

    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--points);

}

[data-tt-field="about"] {

    font-size: .9rem;
    font-weight: lighter;

}

.tt-mini-title {

    margin-top: .5rem;

}

.tt-above-avg-cont,
.tt-below-avg-cont {

    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;

}


[data-tt-skill-tag] {

    padding: .2em .3em;
    margin-right: .5em;
    margin-bottom: .5em;
    /*border: 1px solid black;*/
    border-radius: .5em;
    font-size: .9rem;

}

.tt-above-avg-cont [data-tt-skill-tag] {
    background-color: var(--accent1);
    color: var(--btn-bkg);
}

.tt-below-avg-cont [data-tt-skill-tag] {
    background-color: var(--accent2);
}

.click-capture {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    
}

.click-capture.inactive {

    pointer-events: none;


}
